.Header {
    border: 1px solid red;
    background-color: aqua;
    height: 10%;
    width: 100%;
}

.Header p {
    color: black;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding: 0;

}