* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow: hidden;
}

.Header {
    height: 10%;
    width: 100%;
    flex-shrink: 0;
}

.Map {
    height: 80%;
    width: 100%;
    flex-shrink: 0;
}

.Footer {
    height: 10%;
    width: 100%;
    flex-shrink: 0;
}